* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'TitilliumWeb';
    font-size: 16px;
    /*text-align: center;*/
    height: 2000px;
    /* background-color: rgb(235, 202, 159); */
}

img {
    max-width: 100%;
}

.bg-white {
    padding-top: 67px;
    background-color: white;
}

.container {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section-two {
    background-color: #fff5e7;
    padding-bottom: 20px;
}

.logo-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #365C00;
}

.header-backet a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
}

hr {
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background-color: rgba(54, 92, 0, 0.25);
    margin-bottom: 25px;
    margin-top: 5px;
}

.sidebar {
    width: 250px;
    flex-shrink: 0;
}

.widget-title h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #365C00;
}

.main-content {
    display: flex;
}

.side-menu {
    list-style: none;
}

.side-menu li a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: #365C00;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.side-menu li a:hover {
    color: #43d2cd;
}

.widget-title-lower {
    margin-top: 15px;
}

.widget-title-lower h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #365C00;
}

.blog-title {
    margin-top: 20px;
}

.blog-title h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #365C00;
}

.title-photo {
    margin-bottom: 15px;
}

.title-photo p {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #365C00;
    padding-left: 20px;
    padding-top: 80px;

}

.title-photo a {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #365C00;
    margin-left: 60px;
    margin-top: 181px;
    text-decoration: none;
}

.title-photo2 p {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #365C00;
    padding-left: 20px;
    padding-top: 80px;
}

.title-photo2 a {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #365C00;
    margin-left: 60px;
    margin-top: 181px;
    text-decoration: none;
}

.singl-title h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #365C00;
    padding-left: 30px;
    padding-bottom: 15px;
}

.assortment-products {
    margin-left: 15px;
}

.bg-crem {
    background: #FFFFFF;
    box-shadow: 6px 6px 7px rgb(54 92 0 / 20%);
    border-radius: 16px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-25x {
    width: 25%;
    padding: 5px;
}

.ph-kremdeo {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.bg-crem p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #365C00;
    margin-bottom: 15px;
    margin-left: 15px;
}



.price p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #365C00;
    padding-top: 5px;
    padding-right: 25px;
}

.discount {
    position: absolute;
    margin-left: 72%;
    background-color: #79B729;
    border-radius: 3px;
    padding: 1px 5px 1px 2px;
}

.price {
    display: flex;
    align-items: baseline;
}

.price-backet {
    display: flex;
    align-items: baseline;
}

/* .price-backet a {
    margin-left: 15px;
    padding: 3px 12px;
    color: white;
    background-color: #79b729;
    text-decoration: none;
    border-radius: 5px;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
}

.price-backet p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #365C00;
} */

.price-backet a:hover {
    background-color: #454545;
}

.singl-title2 h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #365C00;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.sale {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.sale1 {
    position: absolute;
    border-radius: 3px;
}

.sale1 p {
    background-color: #79B729;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
}

.zx {
    background: #D7EDBA;
    border-radius: 3px;
    padding-left: 36px;
    padding-right: 36px;
}

.price a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 3px;
    background-color: #79B729;
    text-transform: uppercase;
}

.price a:hover {
    background: #454545;
}

.singl-title-low h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #365C00;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.search {
    /* устанавливаем необходимую ширину формы в зависимости от дизайна
	** форма без проблем растягивается */
    width: 60%;

    /* кнопку отправки будем позиционировать абсолютно,
	** поэтому необходимо это свойство */
    position: relative;
}

.search input {
    /* отключаем бордюры у инпутов */
    border: none;
}

/* стили для поля ввода */
.search .input {
    /* растягиваем поле ввода на всю ширину формы */
    width: 100%;

    /* за счет верхнего (8px) и нижнего (9px) внутренних отступов
	** регулируем высоту формы
	** внутренний отступ справа (37px) делаем больше левого,
	** т.к. там будет размещена кнопка отправки	*/
    padding: 3px 32px 3px 15px;

    /* чтобы ширина поля ввода (100%) включала в себя внутренние отступы */
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* добавляем внутренние тени */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);

    /* закругляем углы */
    border-radius: 20px;

    background: #79b729;
    font: 13px Tahoma, Arial, sans-serif;
    color: rgb(255, 255, 255);
    outline: none;
}

/* меняем оформление поля ввода при фокусе */
.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
    background: #E8E8E8;
    color: #333;
}

/* оформляем кнопку отправки */
.search .submit {
    /* позиционируем кнопку абсолютно от правого края формы */
    position: absolute;
    top: 0;
    right: 0;

    width: 37px;

    /* растягиваем кнопку на всю высоту формы */
    height: 100%;

    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;

    /* добавляем прозрачность кнопке отправки */
    opacity: 0.5;
}

/* при наведении курсора меняем прозрачность кнопки отправки */
.search .submit:hover {
    opacity: 0.8;
}

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
    -webkit-appearance: none;
}

.social-icon {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.youtube {
    margin-left: 10px;
    margin-right: 5px;
}

.fb {
    margin-top: 5px;
}

.header {
    display: flex;
    align-items: flex-end;
}

.header-menu {
    display: flex;
}

.header-menu ul {
    list-style: none;
    margin-top: 60px;
}

.header-menu a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #365C00;
    margin-right: 20px;
    text-decoration: none;
    margin-left: 30px;
}

.header-menu a:hover {
    color: #43d2cd;
}

.img1 {
    margin-right: 20px;
    margin-left: 20px;
}

.footer {
    background: #365C00;
    padding-bottom: 6%;
}

.info-footer {
    display: flex;
    padding-top: 20px;
}

.info-footer h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.follow h3 {
    padding-right: 280px;
}

.flori h3 {
    padding-right: 200px;
}

.all-information-footer {
    display: flex;
    justify-content: space-between;
}

.-footer {
    width: 25%;
    position: relative;
}

.input1 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 85px;
    border-radius: 5px;
    padding-left: 10px;
}

.nth1 {
    margin-top: 10px;
}

.nth1 p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff5e7;
    margin-top: 5px;
}

.button {
    display: flex;
    justify-content: center;
    background: #79B729;
    border-radius: 3px;
    margin-top: 10px;
}

.button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 5px;

}

.button a:hover {
    color: #000;
    background-color: #43d2cd;
}

.soc-icon-footer {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.youtube-footer {
    margin-left: 10px;
    margin-right: 10px;
}

.menu-footer ul {
    list-style: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.menu-footer a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #fff5e7;
    text-decoration: none;
}
.menu-footer a:hover{
    color: #000;
}


.info-table-footer h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 159%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.info-table-footer p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 159%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.all-contacts-footer-left{
    padding-top: 6px;
}
.all-contacts-flori{
    padding-left: 110px;
}
.all-contacts{
    padding-right: 43px;
}